<a href="#" class="list-group-item">
<h4 class="list-group-item-heading"><u> Object : <%= @email.object %></u></h4>
<p class="list-group-item-text">
    Contenu : <%= @email.body %>
</p>

<div class="clearfix"></div>
</a>